.body
{
    background-color: lightpink;
}
.name
{
    text-align: center;
    color: black;
    justify-content: center;
}
.t-shirts
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.h4
{
    color: black;
}
.end
{
    display: flex;
    background-color: black;
}
.socialmedia
{
 display: flex;
 background-color: rgb(205, 224, 255);
 margin-left: 1000px;
}
    
