body
{
    
    text-align:left;
    color: rgb(194, 100, 100);
    background-image: url("bi.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: lightslategray;
}
h1
{
    color: darkblue;
    text-align: center;
}
table,th,tr{
    width: 100px;
     border: 1px solid;
     border-collapse: collapse;
}
div
{
position:absolute ;
    width:70px;
    height: 70px;
    right: 200px ;
    border: 4px solid black;
    padding: 5px;
    margin: 2px;
   
}  
div
{
 align-self: flex-end;
 justify-content: right;
}
.logo
{
    display: flex;
    margin-right: 850px; 
}
.register
{
    display: contents;
    text-align: center;
}
.sub
{
    display: contents;
    text-align: center;
}