body
{
    background-image: url("bi.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: lightslategray;
}
h1
{
    color: darkblue;
    text-align: center;
}
table,th,tr{
     border: 1px solid;
     border-collapse: collapse;
}
div
{
    width: 70px;
    border: 5px solid black;
    padding: 5px;
    margin: 5px;
    box-align: 100px;
}